# Logs
logs
/digibank/*.log
/digibank/npm-debug.log*
/digibank/yarn-debug.log*
/digibank/yarn-error.log*
/digibank/pnpm-debug.log*
/digibank/lerna-debug.log*

/digibank/node_modules
/digibank/dist
/digibank/dist-ssr
/digibank/*.local

# Editor directories and files
/digibank/.vscode/*
/digibank/!.vscode/extensions.json
/digibank/.idea
/digibank/.DS_Store
/digibank/*.suo
/digibank/*.ntvs*
/digibank/*.njsproj
/digibank/*.sln
/digibank/*.sw?

/DigiBank_API/digibank_back/StaticFiles/Images/*
!/DigiBank_API/digibank_back/StaticFiles/Images/logoTipo.png