# Logs
logs
/digibanl/*.log
/digibanl/npm-debug.log*
/digibanl/yarn-debug.log*
/digibanl/yarn-error.log*
/digibanl/pnpm-debug.log*
/digibanl/lerna-debug.log*

/digibanl/node_modules
/digibanl/dist
/digibanl/dist-ssr
/digibanl/*.local

# Editor directories and files
/digibanl/.vscode/*
/digibanl/!.vscode/extensions.json
/digibanl/.idea
/digibanl/.DS_Store
/digibanl/*.suo
/digibanl/*.ntvs*
/digibanl/*.njsproj
/digibanl/*.sln
/digibanl/*.sw?

/DigiBank_API/digibank_back/StaticFiles/Images/*
!/DigiBank_API/digibank_back/StaticFiles/Images/logoTipo.png