@import '../base';

.card-menu-suport {
  .credit-card {
    max-width: 48%;
    max-height: max-content;
  }
}

.credit-card {
  @extend .column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  max-width: 305px;
  max-height: 200px;

  padding: 25px;
  border-radius: $button-radius;
  background-color: $secondary-color;
  @extend .sombreado;

  .logo-credit-card {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40%;

    #lockIcon {
      width: auto;
      height: 100%;
    }

    img {
      height: 60%;
      width: auto;
    }
  }

  .info-credit-card {
    @extend .column;

    justify-content: flex-end;
    gap: 5px;
    width: 100%;
    height: 60%;

    * {
      color: $text-light-color;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 400;
    }

    span {
      font-size: 1.25rem;
      font-weight: 300;
    }
  }
}

.options-card {
  @extend .column;
  justify-content: space-between;

  width: 48%;
  max-height: max-content;
  padding: 20px;

  border: 3px solid $hover-background;
  border-radius: $button-radius;

  .card-option {
    @extend .btnPressionavel;

    height: 30%;

    background-color: $text-light-color;
    color: $secondary-color;

    border: 3px solid $hover-background;
    border-radius: $button-radius;

    font-weight: 500;
    font-size: 1rem;
    cursor: pointer;

    &:hover {
      transition: all linear 100ms;
      background-color: $secondary-color;
      color: $primary-color;
    }

    &::selection,
    ::-moz-selection {
      background-color: transparent;
      color: inherit;
    }

    &::placeholder {
      color: $text-dark-color;
      &:hover {
        color: aliceblue;
      }
    }

    button {
      width: 100%;
      height: 100%;
      background-color: $text-light-color;
      color: $secondary-color;
      font-weight: 500;
      font-size: 1rem;
      border: unset;
      border-radius: $button-radius;
      cursor: pointer;
    }

    button:hover {
      transition: all linear 100ms;
      background-color: $secondary-color;
      color: $primary-color;
    }
  }
}

#post-cartao-form {
  @extend .column;

  align-items: center;
  gap: 20px;
  min-width: 300px;
}
