@import "../base";

header {
  height: 70px;
  width: 100%;
  background-color: $primary-color;
}

.suport-header {
  @extend .flex;
  justify-content: space-between;
  height: 100%;
  width: 100%;

  .logo-img-header {
    height: 75%;
    width: auto;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .routes-nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    max-width: 80%;
    font-weight: 400;
    font-size: 1.1rem;

    a {
      color: $text-dark-color;
      text-decoration: none;
      margin: 0 20px;
      transition: 0.7s;

      &.selected,
      &:hover {
        color: $text-hover-color;
      }
    }
    button {
      border: 1px solid #d9d9d9;
      background-color: transparent;
      border-radius: 10px;

      width: 120px;
      height: 40px;
      color: $secondary-color;
      transition: all linear 100ms;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
        border: none;
      }
      &:active {
        transition: all 150ms;
        transform: scale(0.98);
      }
    }
  }
  .routes-nav-header-landing {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400;
    font-size: 1.1rem;

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid #d9d9d9;
      background-color: transparent;
      border-radius: 10px;

      width: 120px;
      height: 40px;
      color: $secondary-color;
      text-decoration: none;
      transition: all linear 100ms;
      cursor: pointer;

      &:hover {
        background-color: $secondary-color;
        color: $primary-color;
      }
      &:active {
        transition: all 150ms;
        transform: scale(0.98);
      }
    }
  }
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;

  span {
    color: $text-dark-color;
  }
}
