@import '../base';

#linear-rating-bar {
  width: 100%;

  div.names {
    display: flex;
    justify-content: space-between;

    span.titulo-linear-bar {
      font-size: 1rem;
    }
  }

  div.support-linear-bar {
    display: flex;
    gap: 0.5rem;
    align-items: center;

    div.background-bar {
      background-color: #f0f0f0;
      width: 100%;
      height: 0.35rem;
      border-radius: 10px;

      div.rating-bar {
        height: 100%;
        border-radius: inherit;
        min-width: 0;
        max-width: 100%;
        transition: width linear 1s;
      }
    }

    span.rating-linear-bar {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }
}
