@import "../base";

#separador {
  opacity: 0.7;
}

//Página principal do Post
main#post {
  height: auto;

  .support-banner {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 625px;
    max-height: 625px;
    position: relative;
    background-color: #000;
    background: linear-gradient(359.58deg, #000 60.96%, #000 99.6%);

    img#fundo-banner {
      -webkit-mask-image: linear-gradient(to top, transparent 0%, #000000 150%);
      object-fit: cover;
      width: 100%;
      height: auto;
      // opacity: 0.6;
    }
    // .defaultImgDiv{
    //   width: 100%;
    //   height: 100%;

    //   img{
    //     -webkit-mask-image: linear-gradient(to top, transparent 0%, #000000 200%);
    //     object-fit: cover;
    //     width: 100%;
    //     height: auto;
    //     // opacity: 0.6;
    //   }
    // }

    .infos-banner {
      position: absolute;
      display: flex;
      flex-direction: column;
      bottom: 0;
      padding-bottom: 60px;
      gap: 20px;
      font-weight: 400;
      color: $primary-color;

      h1 {
        font-size: 2.25rem;
      }

      h3 {
        font-weight: inherit;
      }

      .post-stats-support {
        display: flex;
        align-items: center;
        height: 60px;
        gap: 15px;

        .postImgCad {
          width: 3.75rem;
          height: 3.75rem;
          border-radius: 10px;
          background-color: #d9d9d9;

          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: 300ms all;
          font-size: 0.675rem;
          text-align: center;

          &:hover {
            background-color: #3e3e3e;
            opacity: 0.5;
          }
          div {
            height: 100%;
            width: 100%;
            position: relative;
            img {
              height: 100%;
              width: 100%;
              object-fit: contain;
              border-radius: 10px;
            }
            span {
              position: absolute;
              // padding: 1rem;
              top: 40%;
              left: 20%;
              // transform: translate(-50%, -50%);
              color: #000;
              font-weight: 700;
            }
          }
          span {
            transition: 300ms all;
            &:hover {
              transform: scale(1.01);
            }
          }
        }

        img#logo-frame {
          width: 60px;
          height: 60px;
          object-fit: scale-down;
          border-radius: $button-radius;
        }

        .post-stats {
          display: flex;
          gap: 15px;

          #titulo {
            display: flex;
            align-items: center;
          }

          div#avaliacao-support {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 5px;

            div {
              display: flex;
              justify-content: center;
              align-items: center;
              gap: 5px;

              img {
                width: auto;
              }
            }
          }
        }
      }
      .optionVendas{
        p{
          font-size: 1.2rem;

          span{
            font-weight: 600;
          }
        }
      }
      .post-actions {
        display: flex;
        gap: 15px;

        #adquirir__btn {
          border: 2px solid $primary-color;
          // padding: 15px 30px;
          font-size: 1.2rem;
          font-weight: 500;
          border-radius: $button-radius;
          color: $text-light-color;
          background-color: transparent;

          button {
            width: 100%;
            height: 100%;
            padding: 15px 30px;
            font-weight: 500;
            font-size: 1.2rem;
            color: $primary-color;
            border: unset;
            background-color: transparent;
          }

          &:hover {
            background-color: $text-light-color;
            color: black;
            transform: scale(1.1);
            border-radius: 6px;
            // box-shadow: 0 3px 7px 0px darken($hover-background, $amount: 10);
            transition: all 100ms;
            button {
              color: black;
            }

            background-color: $text-light-color;
            transform: scale(1.1);
            border-radius: 6px;
            // box-shadow: 0 3px 7px 0px darken($hover-background, $amount: 10);
            transition: all 100ms;
          }
        }

        #favoritar__btn {
          display: flex;
          align-items: center;
          border: unset;
          background-color: transparent;
          gap: 10px;
          line-clamp: 1;
          font-size: 1.25rem;
          color: $text-light-color;

          &:hover {
            transform: scale(1.02);
            transition: all 100ms;
          }
        }
      }
    }
  }
}

//Alternative Sections Post
section.post-infos {
  h2 {
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 32px;
  }
  //DescPost
  .support-sobre-post {
    display: flex;
    flex-direction: column;
    gap: 65px;

    .galeria-post {
      margin-top: 80px;
      .support-galeria-post {
        display: flex;
        gap: 50px;

        .suport-carousel {
          display: flex;
          justify-content: space-between;
          width: 100%;
          height: 100%;
          .store-item {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 20%;
            height: 14rem;
            border-radius: $button-radius;
            animation: fadeMe 0.3s;
            margin-bottom: 2rem;
    
            img {
              width: 100%;
              height: 100%;
              border-radius: 10px;
              object-fit: cover;
            }
          }
        }

        .support-img {
          // max-width: 320px;
          // max-height: 180px;
          width: 320px;
          height: 180px;
          border-radius: $button-radius;

          .boxCadastro {
            display: flex;
            width: 20rem;
            height: 11.25rem;
            background-color: $hover-background;
            border-radius: $button-radius;
            cursor: pointer;
            transition: 300ms all;

            &:hover {
              transform: scale(1.01);
              @extend .sombreado;
            }

            label {
              object-fit: scale-down;
              width: 100%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
              transition: 400ms all;

              &:hover {
                transform: scale(1.1);
              }
              img {
                width: 20%;
                height: 30%;
              }
            }
            // input{
            //   width: 100%;
            //   height: 100%;
            //   background-color: #000;
            //   cursor: pointer;

            // }
          }

          img {
            width: 100%;
            height: 100%;
            border-radius: inherit;
          }
        }
        div {
          display: flex;
          flex-wrap: wrap;
          gap: 50px;

          .support-img {
            // max-width: 320px;
            // max-height: 180px;
            width: 320px;
            height: 180px;
            border-radius: $button-radius;

            img {
              width: 100%;
              height: 100%;
              border-radius: inherit;
            }
          }
        }
      }
    }
    .descricao-post {
      display: flex;
      flex-direction: column;
      p {
        font-size: 1.18rem;
        max-width: 720px;
      }
    }

    .descricao-post-cad {
      display: flex;
      justify-content: space-between;
      align-items: end;
      height: 45vh;
      p {
        font-size: 1.18rem;
        max-width: 720px;
      }
      .textBox {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        textarea {
          resize: none;
          border: 3px $hover-background solid;
          border-radius: $button-radius;
          outline: none;
          padding: 2rem;
          font-size: 1.2rem;
          box-sizing: border-box;
        }
      }
      button {
        @extend .btnComponent;
        margin-left: 4rem;
      }
    }
  }

  //RecomendadosPost
  .support-recomendados-post {
    .recomendados-list-support {
      margin-bottom: 65px;

      .recomendados-list {
        display: flex;
        justify-content: space-between;
        // flex-wrap: wrap;
        width: 100%;
        align-items: flex-start;


      }
    }
  }
}
input {
  border: none;
  outline: none;
  padding: 15px 15px;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: $button-radius;
  color: $text-light-color;
  width: 8.3rem;
  background-color: transparent;
}
.recomendado-support {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // margin: 2.5%;
  width: 20%;
  max-width: 330px;
  height: 100%;
  // min-height: 288px;
  border-radius: $button-radius $button-radius 0 0;
  text-decoration: unset;
  gap: 15px;

  &:hover {
    background-color: $hover-background;
  }

  img {
    width: auto;
    height: 240px;
    // border: 1px solid #d9d9d9;
    object-fit: scale-down;
    // object-fit: cover;
    border-radius: inherit;
    background-color: aliceblue;
  }

  .recomendado-infos {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 170px;
    padding: 0 15px 15px 15px;
    border-radius: 0 0 $button-radius $button-radius;
    gap: 6px;

    color: $text-dark-color;

    h3 {
      font-size: 1.1rem;
      font-weight: 500;
      margin-bottom: 5px;
    }

    h4 {
      font-size: 0.95rem;
      font-weight: 500;
    }

    .avaliacao-recomendado {
      display: flex;
      align-items: center;
      position: relative;
      gap: 5px;

      h5 {
        position: absolute;
        right: 0;
        bottom: 0;

        font-size: 1.5rem;
        font-weight: 500;
      }
    }
  }
}