.recomendado-support {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin: 2.5%;
    width: 20%;
    max-width: 330px;
    height: 100%;
    // min-height: 288px;
    border-radius: $button-radius $button-radius 0 0;
    text-decoration: unset;
    gap: 15px;
    transition: 300ms all;
    
    &.slim{
        height: 9.5rem;
        padding: 1rem 2rem;
        width: 47%;
        max-width: none;
        border-radius: $button-radius;

        text-decoration: none;
        color: $text-dark-color;

        .recomendado-infos-slim{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;

            .box-infos{
                display: flex;
                justify-content: space-between;
                width: 100%;

                &.rendaFixa{
                  h3{
                    font-size: 1.4rem;
                  }
                }

                div{
                    display: flex;
                    flex-direction: column;
                    gap: 0.5rem;
                }
                .box-img img{
                    height: 40px;
                    width: 40px;
                    border-radius: 50%;
                }
            }
            .avaliacao-recomendado-slim{
                display: flex;
                justify-content: space-between;

                div{
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;

                  h3{
                    align-self: flex-end;
                  }
                }
            }
        }
        h3{
            font-weight: 500;
            font-size: 1rem;
        }
        h4{
            opacity: 60%;
            font-size: 0.9rem;
        }
    }
    &:hover {
      background-color: $hover-background;
    }
  
    img {
      width: auto;
      height: 240px;
      // border: 1px solid #d9d9d9;
      object-fit: scale-down;
      // object-fit: cover;
      border-radius: inherit;
      background-color: aliceblue;
    }
  
    .recomendado-infos {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 170px;
      padding: 0 15px 15px 15px;
      border-radius: 0 0 $button-radius $button-radius;
      gap: 6px;
  
      color: $text-dark-color;
  
      h3 {
        font-size: 1.1rem;
        font-weight: 500;
        margin-bottom: 5px;
      }
  
      h4 {
        font-size: 0.95rem;
        font-weight: 500;
      }
  
      .avaliacao-recomendado {
        display: flex;
        align-items: center;
        position: relative;
        gap: 5px;
  
        h5 {
          position: absolute;
          right: 0;
          bottom: 0;
  
          font-size: 1.5rem;
          font-weight: 500;
        }
      }
    }
  }