@import '../base';

// .support-recomendados-post {
  // .recomendados-list-support {
  //   margin-bottom: 65px;

  //   .recomendados-list {
  //     display: flex;
  //     justify-content: space-between;
  //     flex-wrap: wrap;
  //     align-items: flex-start;

      .recomendado-support {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        // margin: 2.5%;
        width: 24%;
        max-width: 330px;
        // height: 100%;
        // min-height: 288px;
        border-radius: $button-radius $button-radius 0 0;
        text-decoration: unset;
        border: 1px solid $hover-background;
        gap: 15px;
        transition: all linear 100ms;

        &:hover {
          // background-color: $hover-background;
          background-color: transparent;
          box-shadow: 0 2px 6px 0px $hover-background;
          transform: scale(1.008);
        }

        img {
          width: 100% ;
          height: 240px;
          object-fit: scale-down;
          border-radius: inherit;
        }

        .recomendado-infos {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          min-height: 170px;
          padding: 0 15px 15px 15px;
          border-radius: 0 0 $button-radius $button-radius;
          gap: 6px;

          color: $text-dark-color;

          h3 {
            font-size: 1.1rem;
            font-weight: 500;
            margin-bottom: 5px;
          }

          h4 {
            font-size: 0.95rem;
            font-weight: 500;
          }

          .avaliacao-recomendado {
            display: flex;
            align-items: center;
            position: relative;
            gap: 5px;

            h5 {
              position: absolute;
              right: 0;
              bottom: 0;

              font-size: 1.5rem;
              font-weight: 500;
            }
          }
        }
      }
  //   }
  // }
// }
