@import '../base';

.suport-info-user {
  @extend .column;

  width: 48%;
  height: 40%;
  padding: 15px 20px;
  gap: 15px;

  text-decoration: none;
  color: $text-dark-color;

  background-color: $primary-color;
  border: 3px solid $hover-background;
  border-radius: $button-radius;

  h3 {
    font-weight: 400;
  }

  div {
    display: flex;
    justify-content: space-between;

    span {
      font-size: 1.1rem;
      font-weight: 500;

      &.positive {
        color: green;
      }

      &.negative {
        color: $secondary-color;
      }
    }

    a {
      h3,
      div > span {
        text-decoration: none !important;
      }
    }
  }
}
