$primary-color: #fff;
$secondary-color: #c00414;
$text-dark-color: #000;
$text-bright-color: $primary-color;
$text-hover-color: $secondary-color;
$hover-background: #f4f4f4;

$button-radius: 10px;
$heightHeaderNFooter: 70px + 50px;

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";

  &::selection {
    background-color: $hover-background;
  }
}

main {
  height: calc(100vh - $heightHeaderNFooter);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column {
  display: flex;
  flex-direction: column;
}

.centralizado {
  margin: 0 auto;
}

.container {
  @extend .centralizado;
  width: 75%;
}

.btnComponent {
  @extend .flex;
  justify-content: center;

  width: 12rem;
  height: 3.125rem;
  border-radius: 10px;
  background-color: $secondary-color;
  color: $primary-color;
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  cursor: pointer;

  &:active {
    transition: all 150ms;
    transform: scale(0.98);
  }
}

.btnPressionavel:active {
  transition: all 150ms;
  transform: scale(0.98);
}

.sombreado {
  box-shadow: 0 3px 7px 0px darken($hover-background, $amount: 10);
}
