@import 'base';

.credit-card {
    @extend .column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    max-width: 320px;
    max-height: 200px;
    padding: 25px;
    border-radius: $button-radius;
    // background-color: darken($color: #F2C11D, $amount: 15);
    background-color: darken($color: $secondary-color, $amount: 15);
    // background-color: darken($color: #1DF2C8, $amount: 20);
    // background-color: darken($color: #E811F2, $amount: 30);
    // background-color: darken($color: #E811F2, $amount: 40);
    @extend .sombreado;

    .logo-credit-card {
      width: 100%;
      height: 40%;

      img {
        height: 60%;
        width: auto;
      }
    }

    .info-credit-card {
      @extend .column;

      gap: 5px;
      width: 100%;
      height: 40%;

      * {
        color: $text-bright-color;
      }

      h2 {
        font-size: 1.5rem;
        font-weight: 400;
      }

      span {
        font-size: 1.25rem;
        font-weight: 300;
      }
    }
  }