@import "base";

.boxRedirects{
    display: flex;
    flex-direction: column;

    gap: 2rem;
    margin-right: 9.7rem;
    
    max-width: 21.5rem;
    width: 100%;

    h1{
        font-size: 2.5rem;
        margin-bottom: 2rem;
    }
    button{
        @extend .btnComponent;
        background-color: $primary-color !important;
        color: $secondary-color !important;
        border: 3px solid $hover-background!important;
        transition: 300ms;

        &:hover{
            background-color: $secondary-color !important;
            color: $primary-color !important;
            border: none !important;
        }
        &.active {
            background-color: $secondary-color !important;
            color: $primary-color !important;
            border: none !important;
          }
    }
}
main#diginvest{
    display: flex;

    margin-top: 4rem;
    height: 100%;

    
}