@import 'base';

main#investFavoritos {
  display: flex;

  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 100%;

  .containerCarousels {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
    width: 100%;
    min-height: 74vh;

    .boxCarousel {
      width: 100%;
    }
  }
}

