@import 'base';

.suport-emprestimo-option {
  @extend .column;
  @extend .sombreado;

  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 3px solid $hover-background;
  border-radius: $button-radius;
  gap: 15px;

  h2 {
    font-weight: 500;
    font-size: 1.5rem;
  }

  .infos-emprestimo-option {
    @extend .column;

    span {
      font-size: 1rem;
    }
  }

  button {
    @extend .btnPressionavel;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: $secondary-color;
    color: $text-bright-color;
    font-weight: 500;

    margin: 0 0 0 auto;
    padding: 10px 20px;
    border: none;
    border-radius: $button-radius;
    cursor: pointer;
  }
}
