@import 'base';

main#emprestimos {
  @extend .flex;

  *::-webkit-scrollbar {
    width: 0.7rem;
    margin-left: 2rem;
  }

  *::-webkit-scrollbar-track {
    background: $primary-color;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #d9d9d9;
    transition: 0.7s ease;
    border-radius: 30px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #d9d9d9;
  }

  section {
    width: 45%;
    height: 90%;

    .list-emprestimos {
      width: 100%;
      height: calc(100% - 40px);
      overflow: auto;
    }

    .title-list {
      display: flex;
      align-items: flex-end;
      height: 40px;
      margin-bottom: 25px;
    }
  }
}
