@import 'base';

.menu-option {
  display: flex;
  // justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: $text-dark-color;
  text-decoration: unset;
  border: unset;
  background-color: transparent;

  &#disabled {
    background-color: $hover-background !important;
  }

  &#deletar {
    color: $text-light-color;
    background-color: $secondary-color;

    button {
      color: inherit;
    }
  }
}

main#inventario {
  min-height: calc(100vh - $heightHeaderNFooter);
  height: auto;
  // background-color: aqua;

  h1 {
    margin: 50px 0 40px 0;
  }

  section.inventario-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;

    div.inventario-item {
      width: 48%;
      height: 170px;
      max-height: 170px;
      display: flex;
      border: 2px solid $border-color;
      border-radius: $button-radius;

      div.support-logo {
        width: 200px;
        height: 100%;
        border-radius: $button-radius;

        img {
          width: 100%;
          height: 100%;
          object-fit: scale-down;
          border-radius: inherit;
        }
      }

      div.item-infos-support {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: calc(100% - 200px);
        padding: 15px 24px;

        h2 {
          font-size: 1.1rem;
          font-weight: 500;
        }

        h3 {
          font-size: 0.9rem;
          font-weight: 500;
        }
      }

      div.item-options {
        display: flex;
        justify-content: flex-end;
        gap: 12px;

        .item-option {
          font-weight: 500;
          font-size: 0.75rem;
          color: $secondary-color;
          background-color: $primary-color;
          border: 3px solid $hover-background;
          border-radius: $button-radius;
        }
      }
    }
  }
}
