@import 'base';

main#metas {
  @extend .column;
  

  .header-page {
    @extend .flex;

    margin: 4rem 0;

    button {
      @extend .flex;

      padding: 10px 50px;

      font-weight: 500;
      font-size: 1rem;
      border: none;
      border-radius: $button-radius;
      color: $text-bright-color;
      background-color: $secondary-color;
    }
  }

  .meta-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    width: 100%;
    height: 100%;
  }
}
