@import "base";

main#notFound {
    @extend .flex;
    // margin-top: 10rem;

    .leftSection {
        @extend .flex;
        justify-content: center;
        flex-direction: column;

        width: 100%;
        gap: 2rem;

        img {
            height: 18rem;
            margin-bottom: 2rem;
        }
        h2 {
            font-size: 3.4rem;
            font-weight: 600;
            text-transform: capitalize;
        }
        p {
            font-size: 1.375rem;
            font-family: "Quicksand", sans-serif;
        }
        // div {
        //     @extend .flex;
        //     flex-direction: column;
        //     gap: 2rem;
        // }
        a {
            @extend .btnComponent;
            text-decoration: none;
            transition: 100ms all;
            margin: 2rem 0;
            width: 21.5rem !important;

            &:hover {
                border: 3px solid #d9d9d9;
                background-color: transparent;
                color: $secondary-color;
            }
        }
    }
    // .rightSection{
    //     @extend .flex;
    //     justify-content: unset;
    //     flex-direction: column;
    //     gap: 5.875rem;

    // }
}
