.flexCenter, .formArea .formLogin .double-input, .formArea .formLogin, .formArea, .mainLogin, .headerLogin {
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLogin img {
  height: 6rem;
}

.backColor {
  background: linear-gradient(90deg, #c00414 15%, rgba(192, 4, 20, 0.6) 35%, rgba(192, 4, 20, 0.5019607843) 45%, rgba(192, 4, 20, 0.3764705882) 52%, #fff 63%);
  background-size: cover;
  background-repeat: no-repeat;
}
.backColor .mainLogin {
  display: flex;
  justify-content: space-between;
  height: 100vh;
  padding-top: 12rem;
}
.backColor .mainLogin .bannerLogin {
  display: flex;
  justify-content: initial;
  flex-direction: column;
  align-items: initial;
}
.backColor .mainLogin .bannerLogin h1 {
  font-size: 3.125rem;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 2rem;
}
.backColor .mainLogin .bannerLogin .titleLogin {
  width: 90%;
}
.backColor .mainLogin .bannerLogin p {
  font-size: 1.25rem;
  margin-bottom: 4rem;
  text-transform: capitalize;
  font-family: "Quicksand", sans-serif;
  text-align: left;
}
.backColor .mainLogin .bannerLogin img {
  position: absolute;
  bottom: 0;
  left: -150px;
}
.backColor .mainLogin .formArea {
  display: flex;
  justify-content: initial;
  align-items: initial;
  flex-direction: column;
  width: 29.125rem;
}
.backColor .mainLogin .formArea .formLogin {
  flex-direction: column;
  width: 100%;
}
.backColor .mainLogin .formArea .formLogin .double-input {
  flex-direction: column;
  width: 100%;
}
.backColor .mainLogin .formArea .formLogin .double-input div div {
  height: 3.25rem;
  width: auto;
  border-radius: 15px;
  margin-bottom: 2rem;
  background-color: transparent;
  outline: none;
  border: none;
}
.backColor .mainLogin .formArea .formLogin .double-input div div input {
  border-radius: 15px;
  background-color: transparent;
  border: none;
}
.backColor .mainLogin .formArea .formLogin button {
  height: 3.25rem;
  width: 100%;
  border-radius: 15px;
  margin-top: 2rem;
  color: #fff;
  background-color: #c00414;
  border: none;
  cursor: pointer;
  font-size: 1.125rem;
}

.flexCenter, .mainCadastro .sectionRight .formCadastro .boxInputsCadastro, .mainCadastro .sectionRight .formCadastro, .mainCadastro .sectionRight, .mainCadastro .btnCadastro, .mainCadastro .sectionLeft .boxTextCadastro, .mainCadastro .sectionLeft, .headerLogin, .backColor .mainLogin .formArea .formLogin, .backColor .mainLogin .formArea .formLogin .double-input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mainCadastro {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding-top: 4rem;
  height: 94vh;
}
.mainCadastro .sectionLeft {
  flex-direction: column;
  justify-content: space-between;
  width: 30vw;
  height: 70vh;
}
.mainCadastro .sectionLeft img {
  height: 6rem;
}
.mainCadastro .sectionLeft .boxTextCadastro {
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 10rem;
  margin-top: 4rem;
}
.mainCadastro .sectionLeft .boxTextCadastro .titleCadastro {
  font-size: 3.5rem;
  font-weight: 400;
  text-transform: uppercase;
  text-align: start;
}
.mainCadastro .sectionLeft .boxTextCadastro p {
  font-size: 1.25rem;
  font-family: 400;
  font-family: "Quicksand", sans-serif;
  text-align: inherit;
}
.mainCadastro .btnCadastro {
  border-radius: 15px;
  width: 16.25rem;
  height: 3.25rem;
  font-size: 1.125rem;
  color: #fff;
  background-color: #f20519;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
}
.mainCadastro .sectionRight {
  flex-direction: column;
  justify-content: space-between;
  width: 35vw;
  height: 70vh;
  flex-wrap: wrap;
  padding-top: 11rem;
}
.mainCadastro .sectionRight h2 {
  display: flex;
  align-items: end;
  font-size: 2.5rem;
  width: 100%;
  font-weight: 600;
  text-transform: capitalize;
  text-align: start;
}
.mainCadastro .sectionRight .formCadastro {
  flex-direction: column;
  width: 100%;
}
.mainCadastro .sectionRight .formCadastro .boxInputsCadastro {
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4rem;
  width: 100%;
}
.mainCadastro .sectionRight .formCadastro .boxInputsCadastro .doubleInput {
  display: flex;
  gap: 2rem;
  width: 100%;
}

.mainExtratos {
  padding-top: 4rem;
}
.mainExtratos h1 {
  font-size: 2.5rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
}
.mainExtratos .headerListagem {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f2f2f2;
  border: 2px solid #b3b3b3;
  width: 100%;
  height: 3.5rem;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}
.mainExtratos .headerListagem p {
  font-size: 1.25rem;
}
.mainExtratos .listExtrato {
  width: 100%;
  overflow: auto;
}
.mainExtratos .listExtrato .bodyListagem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: auto;
  background-color: transparent;
  border: 2px solid #b3b3b3;
  border-radius: 15px;
  padding: 0 2rem;
  width: 100%;
  height: 3.5rem;
  margin-top: 0.5rem;
}
.mainExtratos .listExtrato .bodyListagem .data-valor {
  display: flex;
  gap: 2rem;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
*::selection {
  background-color: #f4f4f4;
}

main {
  height: calc(100vh - 120px);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flex, .suport-header, main#minha-area .suport-minha-area, main#emprestimos, main#home .left-menu-home nav, main#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column, .suport-emprestimo-option .infos-emprestimo-option, .suport-emprestimo-option, .options-card, .credit-card .info-credit-card, .credit-card, .suport-info-user, main#minha-area, main#home .right-menu-home, main#home .left-menu-home nav a, main#home .left-menu-home {
  display: flex;
  flex-direction: column;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

.btnPressionavel:active, .suport-emprestimo-option button:active, .options-card button:active, main#minha-area .suport-minha-area .right-section .user-button:active, main#home .left-menu-home nav a:active, .backColor .mainLogin .formArea .formLogin button:active {
  transition: all 150ms;
  transform: scale(0.98);
}

.sombreado, .suport-emprestimo-option, .credit-card {
  box-shadow: 0 3px 7px 0px #f4f4f4;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
*::selection {
  background-color: #f4f4f4;
}

main {
  height: calc(100vh - 120px);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flex, .suport-header, main#minha-area .suport-minha-area, main#emprestimos, main#home .left-menu-home nav, main#home {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column, .suport-emprestimo-option .infos-emprestimo-option, .suport-emprestimo-option, .options-card, .credit-card .info-credit-card, .credit-card, .suport-info-user, main#minha-area, main#home .right-menu-home, main#home .left-menu-home nav a, main#home .left-menu-home {
  display: flex;
  flex-direction: column;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

.btnPressionavel:active, .suport-emprestimo-option button:active, .options-card button:active, main#minha-area .suport-minha-area .right-section .user-button:active, main#home .left-menu-home nav a:active, .backColor .mainLogin .formArea .formLogin button:active {
  transition: all 150ms;
  transform: scale(0.98);
}

.sombreado, .suport-emprestimo-option, .credit-card {
  box-shadow: 0 3px 7px 0px #f4f4f4;
}

main#home {
  background-image: url("../img/bird-logo.png");
  background-repeat: no-repeat;
  background-position: right -70px;
  height: calc(100vh - 120px);
}
main#home .left-menu-home {
  justify-content: space-between;
  width: 50%;
  height: 80%;
}
main#home .left-menu-home h1 {
  font-weight: 400;
  font-size: 3.4rem;
  margin-bottom: 5px;
  text-transform: uppercase;
}
main#home .left-menu-home nav {
  height: 120px;
  width: 100%;
}
main#home .left-menu-home nav a {
  align-items: center;
  justify-content: center;
  gap: 5px;
  height: 100%;
  width: 22%;
  font-weight: 400;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
}
main#home .left-menu-home nav a:hover {
  transition: background-color ease-out 100ms;
  background-color: #f4f4f4;
}
main#home .right-menu-home {
  align-items: flex-end;
  justify-content: flex-end;
  width: 50%;
  height: 80%;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
*::selection {
  background-color: #f4f4f4;
}

main {
  height: calc(100vh - 120px);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flex, .suport-header, main#minha-area .suport-minha-area, main#emprestimos, main#home, main#home .left-menu-home nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column, .suport-emprestimo-option .infos-emprestimo-option, .suport-emprestimo-option, .options-card, .credit-card .info-credit-card, .credit-card, .suport-info-user, main#minha-area, main#home .left-menu-home, main#home .left-menu-home nav a, main#home .right-menu-home {
  display: flex;
  flex-direction: column;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

.btnPressionavel:active, .suport-emprestimo-option button:active, .options-card button:active, main#minha-area .suport-minha-area .right-section .user-button:active, .backColor .mainLogin .formArea .formLogin button:active, main#home .left-menu-home nav a:active {
  transition: all 150ms;
  transform: scale(0.98);
}

.sombreado, .suport-emprestimo-option, .credit-card {
  box-shadow: 0 3px 7px 0px #f4f4f4;
}

main#emprestimos section {
  width: 45%;
  height: 90%;
}
main#emprestimos section .list-emprestimos {
  width: 100%;
  height: calc(100% - 40px);
  overflow: auto;
}
main#emprestimos section .title-list {
  display: flex;
  align-items: flex-end;
  height: 40px;
  margin-bottom: 25px;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
*::selection {
  background-color: #f4f4f4;
}

main {
  height: calc(100vh - 120px);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flex, .suport-header, main#minha-area .suport-minha-area, main#home, main#home .left-menu-home nav, main#emprestimos {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column, .suport-emprestimo-option .infos-emprestimo-option, .suport-emprestimo-option, .options-card, .credit-card .info-credit-card, .credit-card, .suport-info-user, main#minha-area, main#home .left-menu-home, main#home .left-menu-home nav a, main#home .right-menu-home {
  display: flex;
  flex-direction: column;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

.btnPressionavel:active, .suport-emprestimo-option button:active, .options-card button:active, main#minha-area .suport-minha-area .right-section .user-button:active, .backColor .mainLogin .formArea .formLogin button:active, main#home .left-menu-home nav a:active {
  transition: all 150ms;
  transform: scale(0.98);
}

.sombreado, .suport-emprestimo-option, .credit-card {
  box-shadow: 0 3px 7px 0px #f4f4f4;
}

main#minha-area {
  justify-content: center;
}
main#minha-area .suport-minha-area {
  width: 100%;
  height: 75%;
}
main#minha-area .suport-minha-area .left-section {
  width: 55%;
  height: 100%;
}
main#minha-area .suport-minha-area .left-section .user-menu-infos {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  height: 55%;
}
main#minha-area .suport-minha-area .left-section .card-menu-suport {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 45%;
}
main#minha-area .suport-minha-area .right-section {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 40%;
  height: 100%;
}
main#minha-area .suport-minha-area .right-section .user-button {
  display: flex;
  justify-content: flex-start;
  width: 46%;
  height: 45%;
  padding: 30px 15px;
  border: none;
  border-radius: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: #C00414;
  background-repeat: no-repeat;
  background-size: 65%;
}
main#minha-area .suport-minha-area .right-section .user-button#emprestimo {
  background-image: url("../img/loan_icon1.svg");
}
main#minha-area .suport-minha-area .right-section .user-button#transferencia {
  background-image: url("../img/transfer_icon1.svg");
}
main#minha-area .suport-minha-area .right-section .user-button#extrato {
  background-image: url("../img/extrato_icon.svg");
  background-size: 50%;
}
main#minha-area .suport-minha-area .right-section .user-button:hover {
  background-position: 98% 90%;
  transition: background-position linear 150ms;
}
main#minha-area .suport-minha-area .right-section .user-button:not(:hover) {
  background-position: 170% 90%;
  transition: background-position linear 150ms;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
*::selection {
  background-color: #f4f4f4;
}

main {
  height: calc(100vh - 120px);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flex, .suport-header, main#home, main#home .left-menu-home nav, main#emprestimos, main#minha-area .suport-minha-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column, .suport-emprestimo-option .infos-emprestimo-option, .suport-emprestimo-option, .options-card, .credit-card .info-credit-card, .credit-card, .suport-info-user, main#home .left-menu-home, main#home .left-menu-home nav a, main#home .right-menu-home, main#minha-area {
  display: flex;
  flex-direction: column;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

.btnPressionavel:active, .suport-emprestimo-option button:active, .options-card button:active, .backColor .mainLogin .formArea .formLogin button:active, main#home .left-menu-home nav a:active, main#minha-area .suport-minha-area .right-section .user-button:active {
  transition: all 150ms;
  transform: scale(0.98);
}

.sombreado, .suport-emprestimo-option, .credit-card {
  box-shadow: 0 3px 7px 0px #f4f4f4;
}

aside {
  position: fixed;
  right: calc(0px - 72.7272727273vh);
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80vh;
  height: 100vh;
  overflow: hidden;
  border-radius: 50%;
  background-color: #C00414;
}
aside a {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.25rem;
  margin-left: 20px;
}
aside:hover {
  transform: translateX(-15%) scale(1);
  transition: transform linear 110ms;
  justify-content: flex-start;
}
aside:not(:hover) {
  transform: translateX(0%) scale(1);
  transition: transform linear 110ms;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
*::selection {
  background-color: #f4f4f4;
}

main {
  height: calc(100vh - 120px);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flex, .suport-header, main#home, main#home .left-menu-home nav, main#emprestimos, main#minha-area .suport-minha-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column, .suport-emprestimo-option .infos-emprestimo-option, .suport-emprestimo-option, .options-card, .credit-card .info-credit-card, .credit-card, .suport-info-user, main#home .left-menu-home, main#home .left-menu-home nav a, main#home .right-menu-home, main#minha-area {
  display: flex;
  flex-direction: column;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

.btnPressionavel:active, .suport-emprestimo-option button:active, .options-card button:active, .backColor .mainLogin .formArea .formLogin button:active, main#home .left-menu-home nav a:active, main#minha-area .suport-minha-area .right-section .user-button:active {
  transition: all 150ms;
  transform: scale(0.98);
}

.sombreado, .suport-emprestimo-option, .credit-card {
  box-shadow: 0 3px 7px 0px #f4f4f4;
}

.suport-info-user {
  width: 48%;
  height: 40%;
  padding: 15px 20px;
  gap: 15px;
  border: 3px solid #f4f4f4;
  border-radius: 10px;
}
.suport-info-user h3 {
  font-weight: 400;
}
.suport-info-user div {
  display: flex;
  justify-content: space-between;
}
.suport-info-user div span {
  font-size: 1.1rem;
  font-weight: 500;
}
.suport-info-user div span.positive {
  color: green;
}
.suport-info-user div span.negative {
  color: #C00414;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}
*::selection {
  background-color: #f4f4f4;
}

main {
  height: calc(100vh - 120px);
}

h1 {
  font-weight: 400;
  font-size: 2rem;
  margin-bottom: 20px;
}

.flex, .suport-header, main#home, main#home .left-menu-home nav, main#emprestimos, main#minha-area .suport-minha-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.column, .suport-emprestimo-option .infos-emprestimo-option, .suport-emprestimo-option, .options-card, .credit-card .info-credit-card, .credit-card, main#home .left-menu-home, main#home .left-menu-home nav a, main#home .right-menu-home, main#minha-area, .suport-info-user {
  display: flex;
  flex-direction: column;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

.btnPressionavel:active, .suport-emprestimo-option button:active, .options-card button:active, .backColor .mainLogin .formArea .formLogin button:active, main#home .left-menu-home nav a:active, main#minha-area .suport-minha-area .right-section .user-button:active {
  transition: all 150ms;
  transform: scale(0.98);
}

.sombreado, .suport-emprestimo-option, .credit-card {
  box-shadow: 0 3px 7px 0px #f4f4f4;
}

.card-menu-suport .credit-card {
  max-width: 48%;
  max-height: max-content;
}

.credit-card {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 305px;
  max-height: 200px;
  padding: 25px;
  border-radius: 10px;
  background-color: #C00414;
}
.credit-card .logo-credit-card {
  width: 100%;
  height: 40%;
}
.credit-card .logo-credit-card img {
  height: 60%;
  width: auto;
}
.credit-card .info-credit-card {
  gap: 5px;
  width: 100%;
  height: 40%;
}
.credit-card .info-credit-card * {
  color: #fff;
}
.credit-card .info-credit-card h2 {
  font-size: 1.5rem;
  font-weight: 400;
}
.credit-card .info-credit-card span {
  font-size: 1.25rem;
  font-weight: 300;
}

.options-card {
  justify-content: space-between;
  width: 48%;
  max-height: max-content;
  padding: 20px;
  border: 3px solid #f4f4f4;
  border-radius: 10px;
}
.options-card button {
  max-height: 30%;
  background-color: #fff;
  color: #C00414;
  border: 3px solid #f4f4f4;
  border-radius: 10px;
  padding: 10px;
  font-weight: 500;
  font-size: 1rem;
  cursor: pointer;
}
.options-card button:hover {
  transition: all linear 100ms;
  background-color: #C00414;
  color: #fff;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.flex, .suport-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

header {
  height: 70px;
  width: 100vw;
  background-color: #fff;
}

.suport-header {
  height: 100%;
}
.suport-header .logo-img-header {
  height: 75%;
  width: auto;
}
.suport-header .logo-img-header img {
  width: 100%;
  height: 100%;
}
.suport-header .routes-nav-header {
  display: flex;
  justify-content: flex-start;
  width: 50%;
  max-width: 80%;
  font-weight: 400;
  font-size: 1.1rem;
}
.suport-header .routes-nav-header a {
  color: #000;
  text-decoration: none;
  margin: 0 20px;
}
.suport-header .routes-nav-header a.selected, .suport-header .routes-nav-header a:hover {
  color: #C00414;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
}
footer span {
  color: #000;
}

@font-face {
  font-family: "Montserrat";
  src: url(../fonts/Montserrat/Montserrat-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "Quicksand", sans-serif;
  src: url(../fonts/Quicksand-Regular.ttf) format("truetype");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.flex, .suport-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centralizado, .container {
  margin: 0 auto;
}

.container {
  width: 75%;
}

/*# sourceMappingURL=main.css.map */
